/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Imagen de fondo */
.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/* Título */
.texto-superpuesto {
    position: relative;
    font-size: 24px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}

/* Contenedor de imágenes */
.contenedor-imagen {
    display: inline-block;
    margin: 20px;
    padding: 10px;
}

/* Imagenes arrastrables */
.mab, .dip{
    cursor: grab;
}

.mab{
    width: 200px;
    height: 150px;
}

.dip{
    width: 200px;
    height: 150px;
}

/* Zona de soltado */
.zona-soltar {
    width: 200px;
    height: 150px;
    border: 2px dashed #000;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
}

/* Cambia color cuando la imagen está sobre el área */
.zona-soltar.over {
    background-color: rgba(0, 255, 0, 0.3);
    border: 2px dashed green;
}


/*Parte de los botones*/
.body{
    display: flex;
   justify-content: left;
    align-items: center;
    margin-left: 200px;
    display: block;
    
  
  }
  .boton-container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 45px; 
    max-width: 25%;
    
  }
  
  .boton {
    max-height: 120px;
    padding: 0px;
    font-size: 30px;
    text-align: center;
    background-color: transparent;
    color: white;
    border: none;
    
    border-radius: 5px;
    transition: 0.3s;
    background-image: url('/img/boton3.png'); 
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left:0px; 
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   box-shadow: 5px 5px 5px rgba(218, 211, 81, 0.879); 
  }
  
  .boton:hover {
    background-color: transparent;
    color: rgb(214, 219, 56);
    font-size: 35px;
    
  }
  .boton:focus {
    outline: none; 
  }