/* Asegurar que no haya márgenes ni espacios extras */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor que ocupa toda la pantalla */
.contenedor {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Imagen de fondo ajustada a la pantalla */
.fondo {
    position: fixed; /*Manda al fondo la imagen*/
    /* position: relative; */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Se ajusta sin deformarse */
    z-index: -1; /* Se envía al fondo */
}

/* Texto centrado sobre la imagen */
.texto-superpuesto {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bb9807;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, 0.25); /* Fondo oscuro semitransparente */
    padding: 20px;
    border-radius: 10px;
    font-style: italic;
}

#cajasoltar{ 
    float: left;
    width: 500px; 
    height:500px; 
    margin: 10px;
    border: 1px solid #999999;
    margin-top: 500px;
}
#cajaimagenes{
     float: left;
    width: 500px;
    height: 500px;
    margin: 10px;
    border: 1px solid #999999;
}
#cajaimagenes > img{
    float: right;
     padding: 5px;
     margin-top: -500px;
} 

.mab{
    position: relative;
    margin-top: -750px;  /* Cambiado para que se vea bien */
    margin-left: 50px;
    height: auto;
    width: 300px;
    border: 5px solid white;
    z-index: 1; /* Asegura que esté sobre el fondo */
}

/* #lienzo{
    background-image: url(../Bosque.png);
    background-size: cover;
} */
